<div class="login-page">
  <div class="login-container">
    <div class="login-form-container">
      <!-- Login form content -->
      <h2 class="login-title">Login</h2>
      <form class="login-form">
        <!-- Form fields -->
        <mat-form-field class="input-field">
          <mat-icon matPrefix>person</mat-icon>
          <input matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field class="input-field">
          <mat-icon matPrefix>lock</mat-icon>
          <input matInput type="password" placeholder="Password">
        </mat-form-field>
        <button mat-raised-button color="primary" class="black-button">Login</button>
      </form>
    </div>
  </div>
  <div class="background-image"></div>
</div>
