.workout-recommended-container {
    grid-area: workout;
}

.workout-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Créez une grille avec des colonnes automatiques qui s'ajustent en fonction de la taille de l'écran */
    gap: 10px; /* Ajoutez un espacement entre les éléments */
}

.workout-item {
    border-radius: 8px; /* Ajoutez des coins arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ajoutez une ombre */
    text-align: center; /* Centrez le texte*/
    background-color: #bb92be;
}
h5 {
    text-align: center;
}
.workout-link {
    text-decoration: none; /* Remove underline */
    color: white;
    font-size: large;
    font-weight: bold;


}
.workout-link:hover {
    color: #4d2158;
}
