/* inscription.component.css */

/* Ajout de la classe row pour créer des lignes */
.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes de largeur égale */
  gap: 10px; /* Espace entre les éléments */
}

.login-page {
  position: relative;
  display: grid; /* Utiliser un système de grille */
  grid-template-columns: 1fr 1fr; /* Deux colonnes de largeur égale */
  height: 100vh;
}

.login-container {
  position: relative;
  z-index: 1;
  padding: 20px;
  box-sizing: border-box; /* Inclure le padding dans la largeur du conteneur */
}

.form-container {
  background-color: #f8f9fa; /* Fond gris clair pour le formulaire */
  border-radius: 10px;
  padding: 10px; /* Réduire le padding */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Aligner les éléments verticalement */
}

.login-title {
  text-align: center;
  margin-bottom: 10px; /* Réduire l'espacement sous le titre */
  margin-top: 30px;
  color: #000; /* Couleur du titre en noir */
}

.input-field {
  width: 100%; /* Largeur pleine pour occuper toute la ligne */
  margin-bottom: 10px; /* Réduire l'espacement entre les champs */
}

.submit-button {
  width: 100%; /* Largeur pleine pour occuper toute la ligne */
  margin-top: 10px;
  background-color: #000; /* Bouton de soumission en noir */
  color: #fff; /* Texte du bouton en blanc */
  padding: 8px; /* Réduire le rembourrage du bouton */
  font-size: 14px; /* Réduire la taille de la police */
}

/* Si vous voulez que les boutons aient la même largeur */
.submit-button:first-child {
  margin-right: 0; /* Réinitialiser la marge à droite */
}

.submit-button:last-child {
  margin-left: 0; /* Réinitialiser la marge à gauche */
}

.background-image {
  position: absolute;
  top: 0;
  left: 50%; /* Aligner l'image à droite */
  width: 50%; /* Moitié de la largeur de l'écran */
  height: 100%;
  background-image: url('/assets/images/fitness-register3.jpg'); /* Remplacez 'url_de_votre_image' par l'URL de votre image */
  background-size: cover;
  filter: brightness(0.5);
  z-index: 0;
}
